body{
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    background-position: center;
    font-size: 32;
    font-family: "Alice";
    padding-left: 10px;
    padding-right: 10px;
    color: aliceblue;
}

p{
    font-family: "Alice";
    padding-right: 5px;
}


a{
  color:plum
}

.pl{
    text-align: right;
    padding-right: 5px;
}

blockquote{
    background-color: rgba(255, 255, 255, 0.12);
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 6px;
}


.main_content{
    max-width: 1000px;
    min-width: 600px;
    margin: 0 auto;

    background-color: rgba(255, 255, 255, 0.1);

    min-height: 100vh; 
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px; 
}

.bottom_thingy{
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 1020px;
    align-items: center;
}

.arabesque{
  flex:1;
  margin: 0 auto;
  text-align: center;
  object-fit: fill;
}


.rpg-box {

  display: flex;           /* Enables the box model logic */
  margin: 0 auto;
  flex-direction: row;     /* Horizontal split (Left | Right) */
    max-width: 1000px;
    min-width: 600px;

    height: 240px;           
    background-color: black;
    border: 3px solid aliceblue;
    border-radius: 6px;
    color: aliceblue;
    font-family: "Alice";  /* Retro game feel */
    padding: 10px;

}

/* 2. The Text Section */
.text-section {
  flex: 4;                 /* Takes up 3 parts of space (75%) */
  padding-left: 10px;

  border-left: 2px solid white;
  text-align: start;
  font-size: 20px;
}

/* 3. The Character Section */
.character-section {
  flex: 1;                 /* Takes up 1 part of space (25%) */
  display: flex;           /* Becomes a parent for the inner boxes */
  flex-direction: column;  /* Vertical split (Top / Bottom) */
padding-right: 6px;
 border-color: white;

}

/* 4. Inside Character: The Picture */
.portrait {
  flex: 1;                 /* Grow to fill available vertical space */
  display: flex;           /* Just to center the image inside */
  justify-content: center;
  align-items: center;
  height: 200px;
  
}

/* 5. Inside Character: The Name */
.name-tag {
  height: 40px;            /* Fixed height for the name */
  display: flex;           /* To center the text */
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
}
