body{
    background-image: url("/utils/Mad_Alice_of_Pratanallis.jpg");
    background-attachment: fixed;
    background-repeat: false;
    background-position: center;
    font-size: 32;
    font-family: "Alice";
}